*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#hero{
    background: rgb(0,82,40);
    background: linear-gradient(90deg, rgba(0,82,40,1) 0%, rgb(3, 3, 3) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#hero p{
    margin-inline: 20px;
    margin-block: 60px;
    text-align: center;
    color: white;
}

h1{
    font-size: 4rem;
    margin: 3em;
    color: white;
}

#hero h2{
    display: flex;
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    color: white;
}

#projects h2{
    text-align: center;
    font-size: 3rem;
    background: rgb(0,82,40);
    background: linear-gradient(90deg, rgba(0,82,40,1) 0%, rgb(3, 3, 3) 100%);
    color: white;
    padding-bottom: 3rem;
}

#project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(0,82,40);
    background: linear-gradient(90deg, rgba(0,82,40,1) 0%, rgb(3, 3, 3) 100%);
}

.project-detail{
    border: 2px solid darkred;
    border-radius:8px;
    width: 300px;
    margin: 50px;
    color: white;
}

.project-detail h3{
    background: khaki;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    padding: 0.2rem;
}

.project-detail p{
    text-align: justify;
    padding: 0.3rem;
}

.project-detail a{
    padding: 0.3rem;
}

a:link{
    color:green;
}

a:visited{
    color:aqua;
}

a:hover{
    color:lawngreen;
}

a:active{
    color:chocolate;
}