* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(90deg, rgb(14, 0, 92) 0%, rgb(3, 3, 3) 100%);
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#hero h2 {
    display: flex;
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    color: white;
}

#hero p {
    margin-inline: 20px;
    margin-block: 60px;
    text-align: center;
    color: white;
    padding-bottom: 3rem;
    width: 70%;
}

h1 {
    font-size: 4rem;
    margin: 3em;
    color: white;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

h1 span {
    color: rgb(53, 243, 148);
}

#languages {
    padding: 4rem 0;
}

.section-title {
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-bottom: 5rem;
    margin-top: 10rem;
}

#language-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.language-item {
    text-align: center;
    width: 350px;
    height: 300px;
    color: black;
    margin: 2rem;
    width: 15rem;
    height: 15rem;
    transition: 0.5s;
}

.language-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.language-item h3 {
    padding: 0.7rem;
    font-size: 2rem;
    background-color: white;
}

img {
    width: 100%;
    height: 100%;
}

.img {
    object-fit: contain;
    background: radial-gradient(ellipse at center, rgba(168, 1, 1, 1.0), rgb(177, 7, 168));
    padding: 2rem;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-detail {
    border: 2px solid darkred;
    border-radius:8px;
    width: 300px;
    margin: 50px;
    color: white;
}

.project-detail h3 {
    background: darkred;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    padding: 0.2rem;
}

.project-detail p {
    text-align: justify;
    padding: 0.3rem;
}

.project-detail a {
    padding: 0.3rem;
}

a:link {
    color: white;
}

a:visited {
    color:aqua;
}

a:hover {
    color:lawngreen;
}

a:active {
    color:chocolate;
}

form {
    max-width: 550px;
    width: 90%;
    background: white;
    margin: 17vh auto 10vh auto;
    padding: 40px;
    border-radius: 3px;
}

label {
    display: block;
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid rgb(206, 206, 206);
}

input[type="text"]:focus, textarea:focus {
    border-bottom: 1px solid rgb(255,0,106);
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(255,0,106);
}

.submit-btn {
    text-align: center;
}

input[type="submit"] {
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: linear-gradient(to right, rgb(2, 21, 124), rgb(86, 21, 192));
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.error {
    color: red;
}

.error-border {
    border-bottom: 1px solid red;
}

#success {
    color: rgb(45, 156, 45);
}